<div id="main">
  <table>
    <tr>
      <th>
        <h1>Today</h1>
      </th>
      <th>
        <h1>Tomorrow</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[0]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[1]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[2]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[3]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[4]] }}</h1>
      </th>
      </tr>
  <tr>
    {% for i in range(7) %}
      <td>
	{% for item in upcoming[i] %}
          <div class="entry">
            <a class="reveal">{{ item["name"] }}</a>
            <div class="modal">
              <div class="modal-content">
		<h3>{{ item["name"] }}</h3>
		from {{ item["start"] }} to {{ item["end"] }}<br>
		hosted by {{ item["host"] }}<br>
		at {{ item["venue"] }}<br>
		it costs {{ item["price"] }}<br>
		description: {{ item["desc"] }}<br>
	      </div>
	      <a class="modal-close">Close</a>
            </div>
          </div>
	  {% end %}
      </td>
    {% end %}
    </tr>
  </table>
</div>
