<div id="main">
  <script type="text/javascript">
    </script>
  <table>
    <tr>
      <th>
        <h1>Today</h1>
      </th>
      <th>
        <h1>Tomorrow</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[0]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[1]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[2]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[3]] }}</h1>
      </th>
      <th>
        <h1>{{ list_of_days[days[4]] }}</h1>
      </th>
      </tr>
  <tr>
    <td>
      {% for item in upcoming[0] %}
        <div class="entry">
          {{ item["name"] }}
          <div class="modal">
            <h3>{{ item["name"] }}</h3>
            from {{ item["start"] }} to {{ item["end"] }}
            {{ item["host"] }}
            {{ item["venue"] }}
            {{ item["price"] }}
            {{ item["desc"] }}
          </div>
        </div>
      {% end %}
    </td>
    <td>
      {% for item in upcoming[1] %}
        <a>{{ item["name"] }}<div></div></a><br>
      {% end %}
    </td>
    <td>
      {% for item in upcoming[2] %}
        <a>{{ item["name"] }}<div></div></a><br>
      {% end %}
    </td>
    <td>
      {% for item in upcoming[3] %}
        <a>{{ item["name"] }}<div></div></a><br>
      {% end %}
    </td>
    <td>
      {% for item in upcoming[4] %}
        <a>{{ item["name"] }}<div></div></a><br>
      {% end %}
    </td>
    <td>
      {% for item in upcoming[5] %}
        <a>{{ item["name"] }}<div></div></a><br>
      {% end %}
    </td>
    <td>
      {% for item in upcoming[6] %}
        <a>{{ item["name"] }}<div></div></a><br>
      {% end %}
    </td>
    </tr>
  </table>
</div>