<h3>This Week</h3>
<table>
  <tr>
    <th>
      <h3>Today</h3>
    </th>
    <th>
      <h3>Tomorrow</h3>
    </th>
    <th>
      <h3>{{ list_of_days[days[0]] }}</h3>
    </th>
    <th>
      <h3>{{ list_of_days[days[1]] }}</h3>
    </th>
    <th>
      <h3>{{ list_of_days[days[2]] }}</h3>
    </th>
    <th>
      <h3>{{ list_of_days[days[3]] }}</h3>
    </th>
    <th>
      <h3>{{ list_of_days[days[4]] }}</h3>
    </th>
  </tr>

  <tr>
    {% for i in range(7) %}
      <td>
      	{% for item in upcoming[i] %}
          <div class="entry">
            <a class="reveal">
	      <i class="{% if item['cat']=='food' %}icon-glass
			{% elif item['cat']=='buns' %}icon-remove-circle
			{% elif item['cat']=='tix' %}icon-tags
			{% elif item['cat']=='bakedgoods' %}icon-certificate
			{% elif item['cat']=='apparel' %}icon-shopping-cart
			{% else %}icon-gift
			{% end %}"></i>&nbsp;
	      {{ item["name"] }}
	    </a>
            <div class="modal">
              <div class="modal-content">
                <a class="modal-close">(close)</a>
            		<h5 class="{{ item["cat"] }}">{{ item["name"] }}</h5>
            		<strong>Time</strong> {{ datetime.date.strftime(item["start"],"%I:%M%p %m/%d/%y") }}–{{ datetime.date.strftime(item["end"],"%I:%M%p %m/%d/%y") }}<br />
            		<strong>Place</strong> {{ item["venue"] }}<br />
			<strong>Category</strong>
			{% if item['cat']=='food' %}Food
			{% elif item['cat']=='buns' %}Chinese Buns
			{% elif item['cat']=='tix' %}Event Tickets
			{% elif item['cat']=='bakedgoods' %}Baked Goods
			{% elif item['cat']=='apparel' %}Apparel
			{% else %}Other
			{% end %}<br />
			<strong>Host</strong> {{ item["host"] }}<br />
			<strong>Price</strong> {{ item["price"] }}<br />
			<strong>Description</strong> {{ item["desc"] }}<br />
      	      </div>
            </div>
          </div>
          {% end %}
      </td>
    {% end %}
  </tr>      
</table>
